.customBtn{
height:27px;
width: 60px;
padding: 0px;
margin-left: 5px;

}
.statusBtn{
    height:28px;
    width: 70px;
    padding: 0px;  
}
.status_btn{
	height:28px;
    width: 70px;
    padding: 0px;
}

.breadcrumb_anchor{
	color: #80848b;
    text-decoration: none;
}
.error{
	color: #ff0000;
}
.required:after {
    content:" *";
    color: #ff0000;
}

.img{
    height:60px; 
    width:60px;
    border-radius:50% !important; 
}

.sccMsg{
    color: #05a952;  
}